<div class="container">
  <div class="row">
    <div class="col-12 m-4">
      <button class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapse">CLICK ME</button>
    </div>
    <div class="row">
      <div class="collapse border-1" id="collapse" style="background-color: lightblue;">
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
        <h5>Text inside collapsed div.</h5>
      </div>
    </div>
  </div>
</div>
